* {
  padding: 0;
  margin: 0;
}

button {
  padding: 3px;
  margin: 5px;
}

#add-btn,
input {
  margin: 5px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.input-header{
  margin-bottom: 15px;
}

#title,
#author {
  border: 1px black solid;
  height: 30px;
}

th,
td {
  padding-left: 10px;
}

input {
  padding-left: 10px;
}
