* {
  padding: 0;
  margin: 0;
}

button {
  padding: 3px;
  margin: 5px;
}

#add-btn,
input {
  margin: 5px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

th,
td {
  padding-left: 10px;
}

input {
  padding-left: 10px;
}
