* {
  padding: 0;
  margin: 0;
  font-family: 'Comic Sans', sans-serif;
}

button {
  float: right;
  justify-content: flex-end;
  padding: 3px;
  margin: 5px;
}

#add-btn {
  text-align: center;
  padding: 5px;
}

#book-form #add-btn {
  float: right;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.input-header{
  margin-bottom: 15px;
}

#title,
#author {
  border: 1px black solid;
  height: 30px;
}

th,
td {
  text-align: left;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

table {
  display: flex;
  border: 2px black solid;
  justify-content: center;
  padding: 5px;
}
